-- MySQL dump 10.13  Distrib 8.0.42, for Linux (x86_64)
--
-- Host: localhost    Database: CoworkingSpace
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `Amenity`
--

LOCK TABLES `Amenity` WRITE;
/*!40000 ALTER TABLE `Amenity` DISABLE KEYS */;
INSERT INTO `Amenity` VALUES (1,'Amenity1','123');
/*!40000 ALTER TABLE `Amenity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `AspNetRoleClaims`
--

LOCK TABLES `AspNetRoleClaims` WRITE;
/*!40000 ALTER TABLE `AspNetRoleClaims` DISABLE KEYS */;
/*!40000 ALTER TABLE `AspNetRoleClaims` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `AspNetRoles`
--

LOCK TABLES `AspNetRoles` WRITE;
/*!40000 ALTER TABLE `AspNetRoles` DISABLE KEYS */;
INSERT INTO `AspNetRoles` VALUES (1,'Customer','CUSTOMER',NULL),(2,'Host','HOST',NULL);
/*!40000 ALTER TABLE `AspNetRoles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `AspNetUserClaims`
--

LOCK TABLES `AspNetUserClaims` WRITE;
/*!40000 ALTER TABLE `AspNetUserClaims` DISABLE KEYS */;
/*!40000 ALTER TABLE `AspNetUserClaims` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `AspNetUserLogins`
--

LOCK TABLES `AspNetUserLogins` WRITE;
/*!40000 ALTER TABLE `AspNetUserLogins` DISABLE KEYS */;
/*!40000 ALTER TABLE `AspNetUserLogins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `AspNetUserRoles`
--

LOCK TABLES `AspNetUserRoles` WRITE;
/*!40000 ALTER TABLE `AspNetUserRoles` DISABLE KEYS */;
INSERT INTO `AspNetUserRoles` VALUES (1,1),(2,1),(3,1),(3,2);
/*!40000 ALTER TABLE `AspNetUserRoles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `AspNetUserTokens`
--

LOCK TABLES `AspNetUserTokens` WRITE;
/*!40000 ALTER TABLE `AspNetUserTokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `AspNetUserTokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `AspNetUsers`
--

LOCK TABLES `AspNetUsers` WRITE;
/*!40000 ALTER TABLE `AspNetUsers` DISABLE KEYS */;
/*!40000 ALTER TABLE `AspNetUsers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `BookingWindow`
--

LOCK TABLES `BookingWindow` WRITE;
/*!40000 ALTER TABLE `BookingWindow` DISABLE KEYS */;
INSERT INTO `BookingWindow` VALUES (1,3,3,NULL,1);
/*!40000 ALTER TABLE `BookingWindow` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `Collection`
--

LOCK TABLES `Collection` WRITE;
/*!40000 ALTER TABLE `Collection` DISABLE KEYS */;
/*!40000 ALTER TABLE `Collection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `ExceptionRule`
--

LOCK TABLES `ExceptionRule` WRITE;
/*!40000 ALTER TABLE `ExceptionRule` DISABLE KEYS */;
INSERT INTO `ExceptionRule` VALUES (1,2,NULL,NULL,NULL,NULL,'Test');
/*!40000 ALTER TABLE `ExceptionRule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `ExceptionRuleDay`
--

LOCK TABLES `ExceptionRuleDay` WRITE;
/*!40000 ALTER TABLE `ExceptionRuleDay` DISABLE KEYS */;
INSERT INTO `ExceptionRuleDay` VALUES (1,1,1),(2,1,2),(3,1,3),(4,1,4),(5,1,5);
/*!40000 ALTER TABLE `ExceptionRuleDay` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `GuestHour`
--

LOCK TABLES `GuestHour` WRITE;
/*!40000 ALTER TABLE `GuestHour` DISABLE KEYS */;
INSERT INTO `GuestHour` VALUES (15,3,0,'09:00:00.000000','18:00:00.000000',0,0),(16,3,1,'09:00:00.000000','18:00:00.000000',0,0),(17,3,2,'09:00:00.000000','18:00:00.000000',0,0),(18,3,3,'09:00:00.000000','18:00:00.000000',0,0),(19,3,4,'09:00:00.000000','18:00:00.000000',0,0),(20,3,5,'09:00:00.000000','18:00:00.000000',0,0),(21,3,6,'09:00:00.000000','18:00:00.000000',0,0);
/*!40000 ALTER TABLE `GuestHour` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `Holiday`
--

LOCK TABLES `Holiday` WRITE;
/*!40000 ALTER TABLE `Holiday` DISABLE KEYS */;
INSERT INTO `Holiday` VALUES (1,'Tết Dương Lịch'),(2,'Tết Nguyên Đán'),(3,'Giỗ Tổ Hùng Vương'),(4,'Ngày Thống Nhất và Quốc tế Lao động'),(5,'Ngày Quốc Khánh');
/*!40000 ALTER TABLE `Holiday` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `HolidayDate`
--

LOCK TABLES `HolidayDate` WRITE;
/*!40000 ALTER TABLE `HolidayDate` DISABLE KEYS */;
/*!40000 ALTER TABLE `HolidayDate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `Payment`
--

LOCK TABLES `Payment` WRITE;
/*!40000 ALTER TABLE `Payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `Payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `PaymentInfo`
--

LOCK TABLES `PaymentInfo` WRITE;
/*!40000 ALTER TABLE `PaymentInfo` DISABLE KEYS */;
/*!40000 ALTER TABLE `PaymentInfo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `Price`
--

LOCK TABLES `Price` WRITE;
/*!40000 ALTER TABLE `Price` DISABLE KEYS */;
/*!40000 ALTER TABLE `Price` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `Reservation`
--

LOCK TABLES `Reservation` WRITE;
/*!40000 ALTER TABLE `Reservation` DISABLE KEYS */;
/*!40000 ALTER TABLE `Reservation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `Review`
--

LOCK TABLES `Review` WRITE;
/*!40000 ALTER TABLE `Review` DISABLE KEYS */;
/*!40000 ALTER TABLE `Review` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `Space`
--

LOCK TABLES `Space` WRITE;
/*!40000 ALTER TABLE `Space` DISABLE KEYS */;
INSERT INTO `Space` VALUES (33,17,3,NULL,NULL,34,'Space01','123',0,NULL,NULL,NULL,NULL,NULL,NULL,NULL,0,'2025-05-12 10:07:38.017667','2025-05-12 10:07:38.017668');
/*!40000 ALTER TABLE `Space` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `SpaceAmenity`
--

LOCK TABLES `SpaceAmenity` WRITE;
/*!40000 ALTER TABLE `SpaceAmenity` DISABLE KEYS */;
INSERT INTO `SpaceAmenity` VALUES (3,33,1);
/*!40000 ALTER TABLE `SpaceAmenity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `SpaceCollection`
--

LOCK TABLES `SpaceCollection` WRITE;
/*!40000 ALTER TABLE `SpaceCollection` DISABLE KEYS */;
/*!40000 ALTER TABLE `SpaceCollection` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `SpaceImage`
--

LOCK TABLES `SpaceImage` WRITE;
/*!40000 ALTER TABLE `SpaceImage` DISABLE KEYS */;
/*!40000 ALTER TABLE `SpaceImage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `SpaceType`
--

LOCK TABLES `SpaceType` WRITE;
/*!40000 ALTER TABLE `SpaceType` DISABLE KEYS */;
/*!40000 ALTER TABLE `SpaceType` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `Venue`
--

LOCK TABLES `Venue` WRITE;
/*!40000 ALTER TABLE `Venue` DISABLE KEYS */;
INSERT INTO `Venue` VALUES (3,3,1,10,'Trung','123',NULL,'8');
/*!40000 ALTER TABLE `Venue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `VenueAddress`
--

LOCK TABLES `VenueAddress` WRITE;
/*!40000 ALTER TABLE `VenueAddress` DISABLE KEYS */;
INSERT INTO `VenueAddress` VALUES (10,'Hoàng Mai','Nguyễn An Ninh','Hà Nội',NULL,NULL,'Nguyễn An Ninh, Hoàng Mai, Hà Nội');
/*!40000 ALTER TABLE `VenueAddress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `VenueHoliday`
--

LOCK TABLES `VenueHoliday` WRITE;
/*!40000 ALTER TABLE `VenueHoliday` DISABLE KEYS */;
INSERT INTO `VenueHoliday` VALUES (8,3,1,0),(9,3,2,0),(10,3,3,0),(11,3,4,0),(12,3,5,0);
/*!40000 ALTER TABLE `VenueHoliday` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `VenueImage`
--

LOCK TABLES `VenueImage` WRITE;
/*!40000 ALTER TABLE `VenueImage` DISABLE KEYS */;
/*!40000 ALTER TABLE `VenueImage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `VenueType`
--

LOCK TABLES `VenueType` WRITE;
/*!40000 ALTER TABLE `VenueType` DISABLE KEYS */;
/*!40000 ALTER TABLE `VenueType` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `__EFMigrationsHistory`
--

LOCK TABLES `__EFMigrationsHistory` WRITE;
/*!40000 ALTER TABLE `__EFMigrationsHistory` DISABLE KEYS */;
INSERT INTO `__EFMigrationsHistory` VALUES ('20250421101110_InitDB','9.0.3'),('20250423082845_updateHoliday','9.0.3'),('20250423083408_updateHoliday2','9.0.3'),('20250425081813_InitDb','9.0.3'),('20250428042852_AddExceptionRule','9.0.3'),('20250428080712_fixExceptionRule','9.0.3'),('20250429092532_new','9.0.3'),('20250506084107_Init','9.0.3'),('20250506092358_Init','9.0.3'),('20250509023255_Init','9.0.3'),('20250512080409_Init','9.0.3'),('20250512091642_config','9.0.3'),('20250513081814_Init','9.0.3');
/*!40000 ALTER TABLE `__EFMigrationsHistory` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-05-14  9:44:42
